* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
body {
    background-color: hsl(30, 38%, 92%);
}
.body {
    display: flex;
    justify-content: center;
    align-content: center;
}
.container {
    background-color: white;
    display: flex;
    height: 400px;
}
.container img {
    height: 400px;
    width: 350px;
}